:root {
    --color-primario-mio: #27499e;
    --color-texto-mio: hsl(0, 0%, 96%);
    --color-text-link-mio: var(--color-texto-mio);
    --color-text-link-hover-mio: hsl(0, 0%, 77%);
    --btn-amarillo-mio: #deba17;
    --btn-amarillo-mio-hover: #c1a112;
    --color-footer-mio: #2e2e2e;
}

.color-primario-mio{
    background-color: var(--color-primario-mio);
}

.color-texto-mio{
    color: var(--color-texto-mio);
}

.imagen-logo{
    width: 50px;
    height: 50px;
}

.nav-link-mio{
    color: var(--color-text-link-mio);
}

.nav-link-mio:hover{
    color: var(--color-text-link-hover-mio);
}

.btn-amarillo-mio{
    background-color: var(--btn-amarillo-mio);
}

.btn-amarillo-mio:hover{
    background-color: var(--btn-amarillo-mio-hover);
}

.imagen-mio-carrusel{
    max-height: 80vh;
}

.margen-inferior-h{
    margin-bottom: 30px;
}

.color-footer-mio{
    background-color: var(--color-footer-mio);
}

.header-mio{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    border-top: solid var(--color-footer-mio) 2px;
}

button{
    box-shadow: none !important;
}

.fotos-card{
    width: 80%;
}

header h1{
    color: var(--btn-amarillo-mio) !important;
}